<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio - Adrián Durán Molero</title>
  </head>
  <body>
    <header>
      <div class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <img
                class="h-12 w-auto"
                src="../../public/images/profile-pic-pixelart.png"
                alt="Logo Adrián Durán Molero"
              />
            </a>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-lg font-semibold leading-6 text-gray-900"
              >Knowledge</a
            >
            <a href="#" class="text-lg font-semibold leading-6 text-gray-900"
              >Projects</a
            >
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-6">
            <a
              href="https://www.linkedin.com/in/adrian-duran-molero"
              class="-m-1.5 p-1.5"
            >
              <img
                class="h-8 w-auto"
                src="../../public/images/linkedin-icon.svg"
                alt="Logo Linkedin"
              />
            </a>
            <a href="https://github.com/Adriiduran" class="-m-1.5 p-1.5">
              <img
                class="h-8 w-auto"
                src="../../public/images/github-icon.svg"
                alt="Logo Github"
              />
            </a>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true" id="mobile-menu">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          >
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <img
                  class="h-12 w-auto"
                  src="../../public/images/profile-pic-pixelart.png"
                  alt=""
                />
              </a>
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-600 hover:text-black"
                id="close-button"
              >
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Knowledge</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Projects</a
                  >
                </div>
                <div class="py-6">
                  <a
                    href="https://www.linkedin.com/in/adrian-duran-molero"
                    class="-m-1.5 p-1.5"
                  >
                    <img
                      class="h-8 w-auto"
                      src="../../public/images/linkedin-icon.svg"
                      alt="Logo Linkedin"
                    />
                  </a>
                  <a href="https://github.com/Adriiduran" class="-m-1.5 p-1.5">
                    <img
                      class="h-8 w-auto"
                      src="../../public/images/github-icon.svg"
                      alt="Logo Github"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="flex flex-col items-center text-center">
            <img
              src="../../public/images/profile-pic-pixelart.png"
              alt="Profile pic"
              class="h-64 w-64"
            />
            <h1
              class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mt-6"
            >
              Full Stack and iOS Developer
            </h1>
            <p class="mt-6 text-lg text-gray-600">
              "Passionate developer driven by code and creativity"
            </p>
            <a
              href=""
              class="my-6 px-6 py-3 bg-blue-500 rounded-md display: block text-white"
              >RESUME</a
            >
          </div>
        </div>
      </div>
    </header>

    <main></main>

    <footer></footer>
  </body>
  <script>
    // Obtenemos referencias a los elementos del DOM
    var mobileMenu = document.getElementById("mobile-menu");
    var closeButton = document.getElementById("close-button");

    // Agregamos un manejador de eventos al botón
    closeButton.addEventListener("click", function () {
      // Obtenemos el valor actual del atributo aria-modal
      var currentAriaModal = mobileMenu.getAttribute("aria-modal");

      // Cambiamos el valor del atributo aria-modal
      if (currentAriaModal === "true") {
        mobileMenu.setAttribute("aria-modal", "false");
      } else {
        mobileMenu.setAttribute("aria-modal", "true");
      }
    });
  </script>
</html>
